body {
    text-align: center;
    font-family: Arial;
}


.box {
    display: inline-block;
    width: 200px;
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
}


.box:hover {
    outline: 2px solid red;
    outline-offset: 4px;
}

img {
    width: 80px;
    height: 80px;
}
